<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/freelance.css">
    <script src="../static/js/freelance.js" defer></script>
    <title>Hire Subham Saha</title>
</head>
<body>
    <div id="container-wrap">
        <div id="opening">
            <img id="opening-pic" src="../static/img/profile.jpg">
        </div>
        <div id="container">
            <div id="profile-container">
                <div id="profile-pic"><img src="../static/img/profile.jpg"></div>
                <div id="profile-text">
                    <div id="profile-name">Subham Saha<iconify-icon icon="mdi:tick-decagram"></iconify-icon></div>
                    <div id="profile-profession">Web Developer</div>
                    <div id="profile-rating">
                        <iconify-icon icon="material-symbols:star-rate"></iconify-icon>
                        <iconify-icon icon="material-symbols:star-rate"></iconify-icon>
                        <iconify-icon icon="material-symbols:star-rate"></iconify-icon>
                        <iconify-icon icon="material-symbols:star-rate"></iconify-icon>
                        <iconify-icon icon="material-symbols:star-rate-half"></iconify-icon>
                        <span>(4.6)</span>
                    </div>
                    <div id="profile-intro">I Will Satisfy Any Of Your Needs With My Mastery Skills Over <span class="highlight">Web Application Development</span>, <span class="highlight">Chatbot Development</span>, <span class="highlight">Email Template Design</span> And <span class="highlight">API Development & Integration</span></div>
                </div>
            </div>
            <div id="skill-set">
                <span class="skill">HTML5</span>
                <span class="skill">CSS3</span>
                <span class="skill">JavaScript</span>
                <span class="skill">NodeJS</span>
                <span class="skill">ReactJS</span>
                <span class="skill">Tailwind</span>
                <span class="skill">Bootstrap</span>
                <span class="skill">Mern</span>
                <span class="skill">Python</span>
                <span class="skill">Flask</span>
                <span class="skill">Django</span>
                <span class="skill">JQuery</span>
                <span class="skill">MySQL</span>
                <span class="skill">API</span>
                <span class="skill">Automation</span>
                <span class="skill">Problem Solving</span>
                <span class="skill">Communication</span>
            </div>
            <div id="experience">
                <div class="exp-box">
                    <div class="exp-box-name">Clients</div>
                    <div class="exp-box-number">46</div>
                </div>
                <div class="exp-box">
                    <div class="exp-box-name">Projects</div>
                    <div class="exp-box-number">87</div>
                </div>
                <div class="exp-box">
                    <div class="exp-box-name">Offers</div>
                    <div class="exp-box-number">51</div>
                </div>
            </div>
            <div id="freelance">
                <div class="head">Hire Me As A Freelancer At</div>
                <div id="freelance-contact"><a href="https://www.fiverr.com/subham59036?public_mode=true">Fiverr<iconify-icon icon="jam:fiverr"></iconify-icon></a><a href="https://www.upwork.com/freelancers/~01044ff5edfa3125c7?mp_source=share">Upwork<iconify-icon icon="simple-icons:upwork"></iconify-icon></a><a href="https://www.freelancer.in/u/subham59036">Freelancer<iconify-icon icon="simple-icons:freelancer"></iconify-icon></a></div>
            </div>
            <div class="divider"><hr><span>or</span><hr></div>
            <div id="email">
                <div class="head">Sent Me An Email For Custom Offer</div>
                <input id="email-subject" placeholder="Email Subject"></input>
                <a id="email-send" href="#email-send">Send Mail<iconify-icon icon="uiw:mail"></iconify-icon></a>
            </div>
            <div id="social">
                <a href="https://www.facebook.com/profile.php?id=61563438416945&mibextid=ZbWKwL"><iconify-icon icon="akar-icons:facebook-fill"></iconify-icon></a>
                <a href="http://twitter.com/subham59036"><iconify-icon icon="bi:twitter-x"></iconify-icon></a>
                <a href="https://www.linkedin.com/in/subham-saha-59563931b"><iconify-icon icon="simple-icons:linkedin"></iconify-icon></a>
                <a href="https://subham59036.hashnode.dev"><iconify-icon icon="simple-icons:hashnode"></iconify-icon></a>
                <a href="https://discordapp.com/users/1265976995859271752"><iconify-icon icon="bi:discord"></iconify-icon></a>
                <a href="https://telegram.me/IntelegionAdmin"><iconify-icon icon="fa-brands:telegram-plane"></iconify-icon></a>
                <a href="https://github.com/subham59036"><iconify-icon icon="uiw:github"></iconify-icon></a>
            </div>
        </div>
    </div>
</body>
</html>